.grid-master {
    display: flex;
    flex-direction: row;
}

.drop-container {
    display: grid;
    padding: 100px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 75%;
}

.drop-container-item {
    height: fit-content;
    width: fit-content;
    background-color: lightgrey;
}

.drag-container {
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 25%;
    justify-content: center;
}

.drag-container h2 {
    color: thistle;
    text-align: center;
}

.drag-container-item {
    display: flex;
    justify-content: center;
    border: 10px;
    border-color: black;
}